<!-- default admin user change password page -->
{% extends "default.html" %}

{% block auth %}
  <div class="pkg_desc">
    <h1>Change user password</h1>
  </div>
  <div class="admin_auth_form">
    <form action="" method="POST">
      <input type="text" name="old_password" placeholder="Enter old password" required>
      <input type="password" name="password1" placeholder="Enter password" required>
      <input type="password" name="password2" placeholder="Confirm password" required>
      <button type="submit">submit</button>
      <p>
        <a href="/admin/login" class="a_links">login</a> or
        <a href="/admin/register" class="a_links">register</a>
      </p>
    </form>
  </div>
{% endblock auth %}
