<!-- default admin user login page -->
{% extends "default.html" %}

{% block auth %}
  <div class="pkg_desc">
    <h1>Login to admin</h1>
  </div>
  <div class="admin_auth_form">
    <form action="" method="POST">
      <input type="text" name="username" placeholder="Enter username" required>
      <input type="password" name="password" placeholder="Enter password" required>
      <button type="submit">login</button>
      <p>
        <a href="/admin/register" class="a_links">register</a>
      </p>
    </form>
  </div>
{% endblock auth %}
