{% extends "default_index.html" %}

{% block short_info %}
  <p>Your project ({{project_name}}) default page</p>
  <p>
    {% if current_user.is_authenticated %}
      Hi {{ current_user.username }}!
    {% else %}
      please login
    {% endif %}
  </p>
{% endblock short_info %}

{% block main %}
  {% if blueprints_list|length > -1 %}
    <div class="blueprint_list_wrapper">
      <div class="blueprint_list">
        <p>Routes</p>
        {% for blueprint in blueprints_list %}
          <a href="/{{blueprint.name}}">{{blueprint.name}}</a>
        {% endfor %}
        {% if current_user.is_authenticated %}
          <a href="/admin/logout">logout</a>
        {% else %}
          <a href="/admin/login">login</a>
          <a href="/admin/register">register</a>
        {% endif %}
        </br>
      </div>
    </div>
  {% endif %}

  <div class="pkg_desc">
    <div>
      <p>An extension of flask web framework of python that erase the complexity of constructing flask project blueprint, packages, and other annoying stuffs</p>
    </div>
  </div>
{% endblock main %}
