{% extends "exam/layout.html" %}

{% block title %}
  question page
{% endblock title %}


{% block main %}
<!-- <a href="{{ url_for('auth.download_file', filename=current_user.user_img) }}" class="a_links">Download your current profile image</a> -->
  <form method="POST" class="wrapp">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    Question title:
    <br>
    <input type="text" name="title" class="choice" placeholder="Question title" required>
    <br>
    <br>
    Question summary:
    <br>
    <textarea name="summary" placeholder="Question summary" cols="30" rows="10"></textarea>
    <br>
    <br>
    Choice number 1:
    <br>
    <input type="text" name="c_num_1" placeholder="Choice number 1" class="choice">
    <br>
    <br>
    Choice number 2:
    <br>
    <input type="text" name="c_num_2" placeholder="Choice number 2" class="choice">
    <br>
    <br>
    Choice number 3:
    <br>
    <input type="text" name="c_num_3" placeholder="Choice number 3" class="choice">
    <br>
    <br>
    Choice number 4:
    <br>
    <input type="text" name="c_num_4" placeholder="Choice number 4" class="choice">
    <br>
    <br>
    <button type="submit">create</button>
  </form>
{% endblock main %}
