<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('exam.static', filename='home.css') }}">
  <link rel="shortcut icon" href="{{ url_for('schoolsite.static', filename='media/favicon.ico') }}" type="image/x-icon">
  <title>
    Schoolsite - {% block title %} <!-- title here! --> {% endblock title %}
  </title>
</head>
<body>
  <div class="page_head">
    <h1>Schoolsite project homepage</h1>
    <div>
      <a href="/">Home</a>
      <a href="/exam">Exam</a>
      <a href="/result">Result</a>
      <a href="/create/exam/question">Create question</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.adminRegister') }}">Register</a>
        <a href="{{ url_for('auth.adminLogout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.adminLogin') }}">Login</a>
      {% endif %}
      <a href="/admin">Admin</a>
    </div>
  </div>
  {% block main %}
    <!-- content here! -->
  {% endblock main %}
  <br>
  <p class="copy-right">
    Copyright &copy; 2022 - {{context.the_year}} Flask-Unity software.
  </p>
  <br>
</body>
</html>
