<!-- @flask_unity, todo_app index.html page -->
{% extends "todo_project/index.html" %}

{% block head_css %}
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('todo_app.static', filename='style.css') }}"> -->
{% endblock head_css %}

{% block head_title %}
  <title>Flask-unity - {{head_title}}</title>
{% endblock head_title %}

{% block main %}
  <h3><pre>(todo_app) app
=============================================
   Your todo_app application default pages   
=============================================</pre></h3>
{% endblock main %}
